body, .navbar, .dropdown-toggle, .dropdown-menu, .btn-menu{
    background: url(../images/grunge-wall.png);
    background-attachment: fixed;
}

.btn-menu {
    margin-top: 10px;
    margin-left: 20px;
    border-color: white;
}

.container, .container-fluid {
    margin-top: 60px;
}

.operator {
    width: 50%; height: auto;
}

.index-link {
    font-weight: bold;
}

 h6, dd, dt, .nav-link, .index-link{
    font-style: italic;
}

.link-icon{
    width:32px;
    height:32px;
    margin-left:2px;
}

.call-icon {
    width:48px;
    height:48px;
}