body, .navbar, .dropdown-toggle, .dropdown-menu, .btn-menu, .btn-new-version {
    background: url(../img/grunge-wall.png);
    background-attachment: fixed;
}

.container, .container-fluid {
    margin-top: 60px;
    margin-bottom: 60px;
}

 h6, dd, dt, .nav-link, .index-link{
    font-style: italic;
}

.btn-menu {
    margin-top: 10px;
    margin-left: 20px;
    border-color: white;
}
.alert-new {
    border-color: white;
}

.operator {
    width: 50%; height: auto;
}

.job-link, .year {
    color: black;
}

.index-link {
    font-weight: bold;
}

.left-img {
    width: 110px;
    float: left;
    margin: 0 5px 5px 0;
}

.right-img  {
    width: 110px;
    float: right;
    margin: 0 0 5px 5px;
}

.link-icon{
    width:32px;
    height:32px;
    margin-left:2px;
}

.call-icon {
    width:48px;
    height:48px;
}

.col-job {
    font-weight: 500;
    border-bottom: 1px solid #343a40;
    margin-top: 20px;
}

.col-music {
    font-weight: 500;
    border-bottom: 1px solid #343a40;
    margin-top: 20px;
}