body, .navbar, .dropdown-toggle, .dropdown-menu{
    background: url(../images/grunge-wall.png);
    background-attachment: fixed;
}

.container {
    margin-top: 60px;
}

.operator {
    width: 50%; height: auto;
}

h6, dd, dt{
    font-style: italic;
}

.link-icon{
    width:28px;
    height:28px;
    margin-left:2px;
}

.call-icon {
    width:56px;
    height:56px;
}